h1 {
  background-color: black;
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
}
.menu-header {
  background-color: rgb(15, 222, 229);
  padding: 10px;
  width: 25vh;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0px;
}
.sticky-bar {
  width: 100%;
  background-color: rgb(15, 222, 229);
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  font-size: large;
  margin: 20px;
  color: gray;
}
.menu-header:hover {
  background-color: aquamarine;
}
