<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>
        h1 {
            background: lightblue;
        }
        p {
            background-color: salmon;
        }
        /* div {
            background-color: brown;
        }
        span {
            background-color: lightgreen;
        } */
        #lorem {
            background-color: gold;
            margin: 1000px;
            height: 10000px;
        }
        .control {
display: none;        }
    </style>
</head>
<body>
    <!-- p h1 have some margins -->
    <!-- div span don't have margins -->
    <!-- div p h1 block elements -->
    <!-- inline block elements - mostly form element -->
    <h1>Layouts</h1>
    <p>This is a block element p</p>

    <div>This is a block element div</div>

    <span>This is inline element span</span>
    <p><span id="lorem">Lorem </span> ipsum dolor sit amet consectetur adipisicing elit. Natus fugit at illo mollitia, impedit ducimus adipisci id alias provident perspiciatis labore exercitationem placeat quibusdam iste est cupiditate, quas cum excepturi.</p>
    <p class="control">On Off</p>
</body>
</html>