<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      img:nth-child(2) {
        position: absolute;
        left: 100px;
        top: 100px;
        width: 200px;
        height: 200px;
        z-index: 1;
      }
      img:nth-child(1) {
        position: absolute;
        width: 200px;
        z-index: 0;
      }
      img:hover {
        z-index: 3;
      }
    </style>
  </head>
  <body>
    <img
      src="https://images.unsplash.com/photo-1681068420510-cb528c65d595?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60"
      alt="car1"
    />
    <img
      src="https://images.unsplash.com/photo-1681115085351-4c207e8e4ff9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
      alt="car2"
    />
  </body>
</html>
